.navigation
  = link_to '#', class: 'navigation-toggle' do
    = partial '/assets/images/nav-open.svg'
  .navigation-content
    = link_to '#', class: 'navigation-toggle' do
      = partial '/assets/images/nav-close.svg'
    %a.navigation-home{href: '/'} Homepage
    %h2 Table of Contents
    %a.navigation-intro.mbl{href: "../../introduction/"} Introduction

    .cell
      .g
        .g-b.g-b--s--1of2
          = link_to "Introduction", "introduction/", class: 'cover-intro'
          %h4 Section A
          %h3 I Am = Us for Them, There
          %ol
            %li= link_to "Distributed Church Identity", "../../section-a/distributedchurchidentity.haml"
            %li= link_to "Guiding Principles of the Distributed Church", "../../section-a/guidingprinciples/"
            %li= link_to "Distributed Church Definition", "../../section-a/distributedchurchdefinition/"
            %li= link_to "Who Is My Future Distributed Church?", "../../section-a/whoismyfuturedistributedchurch/"
            %li= link_to "Unifying Attributes", "../../section-a/unifyingattributes/"
            %li= link_to "The 4 S's", "../../section-a/thefours/"
            %li= link_to "Complex Network of Churches", "../../section-a/complexnetworkofchurches/"
            %li= link_to "Elements of the Network", "../../section-a/elementsofnetwork/"

        .g-b.g-b--s--1of2
          %h4 Section B
          %h3 Distributing the Church
          %ol
            %li= link_to "The Early Church Pattern of Church Planting", "../../section-b/earlychurchpatternofchurchplanting/"
            %li= link_to "Evangelize", "../../section-b/evangelize/"
            %li= link_to "Establish", "../../section-b/establish/"
            %li= link_to "Entrust", "../../section-b/entrust/"
            %li= link_to "Repeat", "../../section-b/repeat/"
            %li= link_to "Marks of a Healthy Church", "../../section-b/marksofahealthychurch/"

          %h3 Additional Resources
          %ol
            %li= link_to "Appendix 1: Children", "../../additional-resources/childteenagers/"
            %li= link_to "Appendix 2: Key Questions to Ask in Establish a Church", "../../additional-resources/keyquestions/"
            %li= link_to "Appendix 3: Expanded Discussion of the Gathering", "../../additional-resources/expandeddiscussion/"
            %li= link_to "Appendix 4: Additional Resources", "../../additional-resources/additionalresources/"
