.navigation
  = link_to '#', class: 'navigation-toggle' do
    = partial '/assets/images/nav-open.svg'
  .navigation-content
    = link_to '#', class: 'navigation-toggle' do
      = partial '/assets/images/nav-close.svg'
    %a.navigation-home{href: '/'} Homepage
    %h2 Table of Contents
    = link_to blog.articles.first.title, blog.articles.first, class: 'navigation-intro mbl'

    .cell
      .g
        .g-b.g-b--m--1of2
          %h4 Section A
          %h3 I Am = Us for Them, There
          %ol
            - blog.articles[1..8].each do |article|
              %li
                = link_to article.title, article

        .g-b.g-b--s--1of2
          %h4 Section B
          %h3 Distributing the Church
          %ol
            - blog.articles[9..14].each do |article|
              %li
                = link_to article.title, article

          %h3 Additional Resources
          %ol
            - blog.articles[15..18].each do |article|
              %li
                = link_to article.title, article
