.cover
  .cover-content
    .cell.well.well--xl.mbf.pll.prl
      .cover-logo
        %image{src: "../assets/images/fg-title.svg"}
    .cell.cell--s.well.well--xl.pll.prl.tac
      %p
        As you begin your journey to build a distributed church, you
        may not know where to start. This field guide, rooted in
        Gospel theology and philosophy, will give you the tools you
        need to&nbsp;get&nbsp;started.
      %hr.hr.hr--red
      = link_to 'Begin Reading', blog.articles.first, class: 'btn'

    .row.row--b
      .cell.well.well--xl.pll.prl
        %h2.h1 Downloads
        .bucket.bucket--flag
          .bucket-media.paper
            PDF
            %span 190 Pages
          .bucket-content
            %h3 CHURCH DISTRIBUTED <small>How the Church Can Thrive in the Coming Era of Connection</small>
            %p
              Read the eBook by Dr. Joel C. Hunter
            
            %a.btn{href: '../assets/downloads/The-Distributed-Church-Book.pdf', download: "The-Distributed-Church-Book.pdf"} Download the PDF
        %hr.hr.hr--invert
        .bucket.bucket--flag
          .bucket-media.paper
            PDF
            %span 14 Pages
          .bucket-content
            %h3 Distributed Church Field Guide
            %p
              For your convenience, the distributed church field guide is also available
              in a PDF format for printing or offline viewing. Simply
              click the link below to download it.
            
            %a.btn{href: '../assets/downloads/fg-v2.5-20141224.pdf', download: "distributed-church-field-guide-v2.5.pdf"} Download the PDF

  .cover-sidebar
    %h2.tal Table of Contents
    .g
      .g-b.g-b--s--1of2.g-b.g-b--l--1of1
        = link_to blog.articles.first.title, blog.articles.first, class: 'cover-intro'
        %h4 Section A
        %h3 I Am = Us for Them, There
        %ol
          - blog.articles[1..8].each do |article|
            %li
              = link_to article.title, article

      .g-b.g-b--s--1of2.g-b.g-b--l--1of1
        %h4 Section B
        %h3 Distributing the Church
        %ol
          - blog.articles[9..14].each do |article|
            %li
              = link_to article.title, article

        %h3 Additional Resources
        %ol
          - blog.articles[15..18].each do |article|
            %li
              = link_to article.title, article

= partial 'shared/footer'
