.card.mbm.paf
  .cell
    %p.mbf.pbs.pts.tac.tss
      = link_to 'Distributed Church Field Guide', '/'
      &bull; Section Title
.g-b.g-b--m--3of4
  .card.mbm
    .card.mbm.tac
      %h3 Image
    %h1 1. Page Title
    %h4.mbm Metadata
    %p
      Vestibulum id ligula porta felis euismod semper. Aenean lacinia
      bibendum nulla sed consectetur. Curabitur blandit tempus
      porttitor. Nullam id dolor id nibh ultricies vehicula ut id
      elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus
      dolor auctor. Cras justo odio, dapibus ac facilisis in, egestas.
    %p
      Nullam id dolor id nibh ultricies vehicula ut id elit. Donec id
      elit non mi porta gravida at eget metus. Vivamus sagittis lacus
      vel augue laoreet rutrum faucibus dolor auctor. Nullam quis
      risus eget urna mollis ornare vel eu leo. Nulla vitae elit
      libero, a pharetra augue. Nullam id dolor id nibh ultricies
      vehicula ut id elit. Sed posuere consectetur est at lobortis.
    %p
      Donec sed odio dui. Cum sociis natoque penatibus et magnis dis
      parturient montes, nascetur ridiculus mus. Nullam id dolor id
      nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus
      et magnis dis parturient montes, nascetur ridiculus mus. Sed
      posuere consectetur est at lobortis. Cum sociis natoque
      penatibus et magnis dis parturient montes, nascetur ridiculus
      mus. Donec id elit non mi porta gravida at eget metus.
    %p
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
      porta sem malesuada magna mollis euismod. Vestibulum id ligula
      porta felis euismod semper. Curabitur blandit tempus porttitor.
      Integer posuere erat a ante venenatis dapibus posuere velit
      aliquet. Maecenas sed diam eget risus varius blandit sit amet.
    %p
      Vestibulum id ligula porta felis euismod semper. Aenean lacinia
      bibendum nulla sed consectetur. Curabitur blandit tempus
      porttitor. Nullam id dolor id nibh ultricies vehicula ut id
      elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus
      dolor auctor. Cras justo odio, dapibus ac facilisis in, egestas.
    %p
      Nullam id dolor id nibh ultricies vehicula ut id elit. Donec id
      elit non mi porta gravida at eget metus. Vivamus sagittis lacus
      vel augue laoreet rutrum faucibus dolor auctor. Nullam quis
      risus eget urna mollis ornare vel eu leo. Nulla vitae elit
      libero, a pharetra augue. Nullam id dolor id nibh ultricies
      vehicula ut id elit. Sed posuere consectetur est at lobortis.
    %p
      Donec sed odio dui. Cum sociis natoque penatibus et magnis dis
      parturient montes, nascetur ridiculus mus. Nullam id dolor id
      nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus
      et magnis dis parturient montes, nascetur ridiculus mus. Sed
      posuere consectetur est at lobortis. Cum sociis natoque
      penatibus et magnis dis parturient montes, nascetur ridiculus
      mus. Donec id elit non mi porta gravida at eget metus.
    %p
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
      porta sem malesuada magna mollis euismod. Vestibulum id ligula
      porta felis euismod semper. Curabitur blandit tempus porttitor.
      Integer posuere erat a ante venenatis dapibus posuere velit
      aliquet. Maecenas sed diam eget risus varius blandit sit amet.
    .card.tss
      .group
        = link_to 'Previous Chapter', '#', class: 'fl'
        = link_to 'Next Chapter', '#', class: 'fr'
.g-b.g-b--m--1of4
  .card
    %h1.mbm 2. Table of Contents
    %h4.mbm
      = link_to 'Subtitle', 'article'
    %ul.mbl
      %li
        = link_to 'Dapibus Condimentum Vulputate', 'article'
      %li
        = link_to 'Cras Ultricies Dolor', 'article'
      %li
        = link_to 'Quam Venenatis Ullamcorper', 'article'
      %li
        = link_to 'Amet Inceptos Ultricies', 'article'
      %li
        = link_to 'Fusce Dapibus Inceptos', 'article'
    %h4.mbm
      = link_to 'Subtitle', 'article'
    %ul
      %li
        = link_to 'Dapibus Condimentum Vulputate', 'article'
      %li
        = link_to 'Cras Ultricies Dolor', 'article'
      %li
        = link_to 'Quam Venenatis Ullamcorper', 'article'
      %li
        = link_to 'Amet Inceptos Ultricies', 'article'
      %li
        = link_to 'Fusce Dapibus Inceptos', 'article'
      %li
        = link_to 'Pharetra Etiam Tortor', 'article'
      %li
        = link_to 'Nibh Adipiscing Mattis', 'article'
