.navigation.navigation--overview
  .cell.cell--l.pls.prs
    .navigation-logo
      = partial '/assets/images/logo-horizontal.svg'
    %nav.navigation-links
      = link_to "Next&nbsp;Steps", "#next-steps"
      = link_to "Field&nbsp;Guide", "field-guide"
      = link_to "Attend&nbsp;an&nbsp;Intro&nbsp;Session", "#", class: "btn"

.row.well
  .cell.cell--l.pbm
    %h2 Start the Journey Toward <span class="tce">Being</span> the&nbsp;Church
    %hr.hr.hr--border.mbl.mtl
    .g
      .g-b.g-b--m--2of3
        .has-video.mbm
          <iframe class="video" width="560" height="315" src="//www.youtube.com/embed/hAii16i_d3M?controls=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
      .g-b.g-b--m--1of3
        %p.mtm
          A distributed church is most simply understood as a group of
          people following Jesus together and living out the mission
          of Jesus in their everyday lives. When people do this
          together they form the church right in the context of where
          they are now.
        %hr.hr.hr--border
        %p= link_to 'Next Steps', '#next-steps', class: 'btn'

.row.row--b
  .cell.cell--l.well.well--xl
    %h1.tci A Church In The Image of Love
    .columns.columns--l
      %p
        At the heart of it, a distributed church is about love. It's
        about God's love for you, and His design for you to love
        others.
      %p
        God has strategically placed you in the context where
        you are right now: the web of relationships you already have;
        the neighborhood where you already live; the place where you
        already work. A distributed church is a way to bring the
        church, and thus the love of God, to those people.
      %p
        A distributed church is also about the way God has uniquely
        created you - with specific gifts for specific purposes - to
        help others experience His love. Your abilities, the way you
        think, even the things you struggle with, all point toward
        God's design and deliberate plan. You have been designed for
        a mission unlike any other in this world. It's a mission that
        you can't accomplish without God's power, or without other
        Christians alongside you.
      %p
        Are you interested in learning more? We would love to help
        you. Together we can form the church outside the walls of a
        building and bring God's love to the world.

.row.row--c#next-steps
  .cell.cell--l.well.well--xl
    %h1.tci Next Steps

    .mbl.tac
      .number.tac{href: "#"} 1.
      %h4.tci.tsm
        Intro to Distributing the Church
      .cell
        %p.tci
          Discover God’s plan to show the world His love through you.
          Intro Sessions are 60 minute sessions to help you discover
          more about how to live out your faith in this culture of
          connection. You’ll learn what a distributed church is and how
          to begin forming one in your context. Intro to Distributing
          the Church is offered online&nbsp;and&nbsp;in&nbsp;person.
        %p
          = link_to "Attend an Intro Session", "#", class: "btn"

    %hr.hr.hr--subdue

    .mbl.tac
      .number.tac{href: "#"} 2.
      %h4.tci.tsm
        Read the Field Guide
      .cell
        %p.tci
          Read the Field Guide with friends and family to begin to map
          out a plan. The Field Guide is full of the basic philosophy,
          practical steps, and key questions to direct you as you form
          your existing relationships into a&nbsp;distributed&nbsp;church.
        %p
          = link_to "Read the Field Guide", "field-guide", class: "btn"

    %hr.hr.hr--subdue

    .mbl.tac
      .number.tac{href: "#"} 3.
      %h4.tci.tsm
        Launch Community
      .cell
        %p.tci
          Connect with other people on this journey for training and
          support. A Launch Community will link you with a mentor that
          can provide the training and encouragement you need as you
          get started. It also will connect you with other people
          starting distributed churches.
        %p
          = link_to "Join a Community", "#", class: "btn"

    %hr.hr.hr--subdue

    .mbl.tac
      .number.tac{href: "#"} 4.
      %h4.tci.tsm
        Be the Church
      .cell
        %p.tci
          Distribute the church everywhere, every day. Join the
          movement of people forming the church outside of a building,
          in the midst of their everyday lives. Already on this
          journey? Great! Let us know so that we can stay connected&nbsp;with&nbsp;you.
        %p
          = link_to "Stay Connected", "#", class: "btn"

.row.row--b
  .cell.cell--l.well.well--xl
    %h1.mbf.tci
      1st Church Snapshot
    %h2.mts.tci
      Acts 2:42-47
    .columns.columns--l
      %p
        They devoted themselves to the apostles’ teaching and to
        fellowship, to the breaking of bread and to prayer. Everyone
        was filled with awe at the many wonders and signs performed
        by the apostles. All the believers were together and had
        everything in common. They sold property and possessions to
        give to anyone who had need. Every day they continued to meet
        together in the temple courts. They broke bread in their homes
        and ate together with glad and sincere hearts, praising God
        and enjoying the favor of all the people. And the Lord added
        to their number daily those who were being saved.

.row
  .cell.cell--l.well.well--xl
    %h1 Connect
    .g.tac
      .g-b.g-b--m--1of3
        %h4.tsm Talk with Someone
        %p.tss
          Have some questions and think a conversation would clear
          some things up? We’d be happy to talk with you.
        %p= link_to 'Talk With Someone', '#', class: 'btn db tac tss'
        %hr.hr.hr--border2.rhl
      .g-b.g-b--m--1of3
        %h4.tsm Attend Overview Session
        %p.tss
          This is the best place to get your bearings in this new way
          (or really old way) of living&nbsp;as&nbsp;the&nbsp;church.
        %p= link_to 'Attend Session', '#', class: 'btn db tac tss'
        %hr.hr.hr--border2.rhl
      .g-b.g-b--m--1of3
        %h4.tsm Join a Launch Community
        %p.tss
          Ready to get started?
          %br
          We want to come alongside
          %br
          you as you do.
        %p= link_to 'Join a Community', '#', class: 'btn db tac tss'

= partial 'shared/footer'
