.well
  .g-b.g-b--m--2of3.fl
    .card.mbm.pbl
      %h1 1. Cover / Intro
      %p
        This section should be similar to a book cover. Not in style and
        presentation, but in content. A good "cover page" would be to
        include this info:
      %ul
        %li.twb Logo
        %li.twb Title
        %li.twb Brief introduction
        %li.twb Link to begin reading
      %p
        Then, include a call-to-action to help direct the reader in
        the right direction.
      = link_to 'Begin Reading', 'article'
  .g-b.g-b--m--1of3.fr
    .card.mbm
      %h1.mbm 2. Table of Contents
      %h4.mbm
        = link_to 'Subtitle', 'article'
      %ul.mbl
        %li
          = link_to 'Dapibus Condimentum Vulputate', 'article'
        %li
          = link_to 'Cras Ultricies Dolor', 'article'
        %li
          = link_to 'Quam Venenatis Ullamcorper', 'article'
        %li
          = link_to 'Amet Inceptos Ultricies', 'article'
        %li
          = link_to 'Fusce Dapibus Inceptos', 'article'
      %h4.mbm
        = link_to 'Subtitle', 'article'
      %ul
        %li
          = link_to 'Dapibus Condimentum Vulputate', 'article'
        %li
          = link_to 'Cras Ultricies Dolor', 'article'
        %li
          = link_to 'Quam Venenatis Ullamcorper', 'article'
        %li
          = link_to 'Amet Inceptos Ultricies', 'article'
        %li
          = link_to 'Fusce Dapibus Inceptos', 'article'
        %li
          = link_to 'Pharetra Etiam Tortor', 'article'
        %li
          = link_to 'Nibh Adipiscing Mattis', 'article'
