.navigation.navigation--overview
  .cell.cell--l.pls.prs
    .navigation-logo
      = partial '/assets/images/logo-horizontal.svg'
    %nav.navigation-links
      = link_to "Get&nbsp;Started", "#get-started"
      = link_to "About", "#about"
      = link_to "Next&nbsp;Steps", "#next-steps"

.row.well.well--xl
  .cell.cell--l
    %h1 A Church for Others
  .cell.cell--s.tac
    %p
      A Distributed Church is most simply understood as a group of
      people following Jesus together and living out the mission
      of Jesus in their everyday lives. When people do this
      together they form the church right in the context of where
      they are now.
    %hr.hr.hr--red
    %p= link_to 'Get Started', '#get-started', class: 'btn'

.row.row--c#get-started
  .cell.cell--l.well.well--xl.mbl
    %h1.tci Get Started

    .mbl.tac
      .number.tac{href: "#"} 1.
      %h4.tci.tsm
        Intro to Distributing the Church
      %p.mbl.tci
        Discover God’s plan to show the world His love through&nbsp;you.
      .cell
        .has-video
          <iframe class="video" width="560" height="315" src="//www.youtube.com/embed/qpK1GzwO-vU?controls=0&showinfo=0" frameborder="0"></iframe>

    %hr.hr.hr--subdue

    .mbl.tac
      .number.tac{href: "#"} 2.
      %h4.tci.tsm
        Read the Field Guide
      %p.tci
        Read the Field Guide with friends and family to create your plan.
      %p
        = link_to "Read the Field Guide", "field-guide", class: "btn"

    %hr.hr.hr--subdue

    .g
      .g-b.g-b--m--1of2
        .mbl.tac
          .number.tac{href: "#"} 3.
          %h4.tci.tsm
            Launch Community
          %p.tci
            Connect with other people on this journey for&nbsp;training&nbsp;and&nbsp;support.
        %hr.hr.hr--subdue.rhl
      .g-b.g-b--m--1of2
        .mbl.tac
          .number.tac{href: "#"} 4.
          %h4.tci.tsm
            Be the Church
          %p.tci
            Distribute the church everywhere, everyday.


.row.row--b#about
  .cell.cell--l.well.well--xl
    %h1.tci A Church In The Image of Love
    .columns.columns--l
      %p
        At the heart of it, a Distributed Church is about love. It's
        about God's love for you, and his design for you to love
        others. God has strategically placed you in the context where
        you are right now: the web of relationships you already have;
        the neighborhood where you already live; the place where you
        already work. A Distributed Church is a way to bring the
        church, and thus the love of God, to those people.
      %p
        A Distributed Church is also about the way God has uniquely
        created you - with specific gifts for specific purposes - to
        help others experience His love. Your abilities, the way you
        think, even the things you struggle with, all point toward
        God's design and deliberate plan. You have been designed for
        a mission unlike any other in this world. It's a mission that
        you can't accomplish without God's power, or without other
        Christians alongside you.
      %p
        Are you interested in learning more? We would love to help
        you. Together we can form the church outside the walls of a
        building and bring God's love to the world.

.row#next-steps
  .cell.cell--l.well.well--xl
    %h1 Next Steps
    .g.tac
      .g-b.g-b--m--1of3
        %h4.tsm Talk with Someone
        %p.tss
          Cras justo odio, dapibus ac facilisis in, egestas eget quam.
          Etiam porta sem malesuada magna mollis euismod. Etiam porta
          sem malesuada magna mollis euismod.
        %p= link_to 'Talk With Someone', '#', class: 'btn db tac tss'
        %hr.hr.hr--border2.rhl
      .g-b.g-b--m--1of3
        %h4.tsm Attend Overview Session
        %p.tss
          Cras justo odio, dapibus ac facilisis in, egestas eget quam.
          Etiam porta sem malesuada magna mollis euismod. Etiam porta
          sem malesuada magna mollis euismod.
        %p= link_to 'Attend Session', '#', class: 'btn db tac tss'
        %hr.hr.hr--border2.rhl
      .g-b.g-b--m--1of3
        %h4.tsm Join a Launch Community
        %p.tss
          Cras justo odio, dapibus ac facilisis in, egestas eget quam.
          Etiam porta sem malesuada magna mollis euismod. Etiam porta
          sem malesuada magna mollis euismod.
        %p= link_to 'Join a Community', '#', class: 'btn db tac tss'

= partial 'shared/footer'
